<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layout/adminDefault}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품관리</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<div layout:fragment="content">
<h1>이벤트 로그</h1>
    <iframe src="http://localhost:5601/app/dashboards#/view/586a9347-311d-4973-b63a-20f974fa7921?embed=true&_g=(refreshInterval%3A(pause%3A!f%2Cvalue%3A10000)%2Ctime%3A(from%3Anow-3d%2Cto%3Anow))&show-time-filter=true&hide-filter-bar=true"
            height="800" width="100%" style="border:none;"></iframe></div>
</body>
</html>